.github
.svelte-kit

build
node_modules
scripts

.dockerignore
.env
.git
.gitignore
.linthtmlrc.json
.prettierignore
.prettierrc.json
.stylelintrc.json

Dockerfile
README.md

docker-compose.yml
drizzle.config.js
eslint.config.js
fly.toml
