name: spectro

services:
  db:
    image: postgres:18.1-alpine3.23
    environment:
      # Development-only credentials!
      POSTGRES_PASSWORD: password
    user: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    healthcheck:
      test:
        - CMD
        - pg_isready
      interval: 1s
      timeout: 5s
      retries: 10
    restart: always
  inngest:
    image: inngest/inngest:v1.15.0
    ports:
      - 8288:8288
    command:
      - inngest
      - dev
      - '--no-discovery'
      - '--sdk-url'
      - 'http://host.docker.internal:5173/webhook/inngest' # Vite
    restart: always
  o2:
    image: public.ecr.aws/zinclabs/openobserve:v0.30.0
    environment:
      ZO_DATA_DIR: /data
      # Development-only credentials!
      ZO_ROOT_USER_EMAIL: admin@example.com
      ZO_ROOT_USER_PASSWORD: password
    ports:
      - 5080:5080
    volumes:
      - open-observe:/data
    restart: always

volumes:
  postgres:
  open-observe:
